# Xilinx generated workspaces and build output
build/
.Xil/
xsim.dir/
NA/
.idea/
third_party/

.venv/
**__pycache**

# Vivado/Vitis logs, journals, and backups
*.log
*.jou
*.wdb
*.vcd
vivado_*.backup.*
*.str
*.pb

# Misc generated runtime/build files
dfx_runtime.txt
